.message {
  width: 100%;
  padding: 0.4em;
  border: 1px solid grey;
  color: grey;

  &.error {
    border-color: red;
    color: white;
    background: red;
  }

  &.warning {
    border-color: orange;
    color: white;
    background: orange;
  }

  &.success {
    border-color: green;
    color: white;
    background: green;
  }
}

///// edit this
