.product-container {
  text-align: center;
  margin: 0 auto;
}

.featuredtitle {
  background-color: red;
  width: 75%;
  margin: 0 auto;
}

.cards {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 5vh;
  row-gap: 5vh;
  //   flex-direction: column; ///breakpoint
}

.card {
  flex: 0 4 47%;
  width: 100%;
  margin: 0 auto;

  img {
    width: 100%;
    object-fit: cover;
  }

  .cardbody {
    text-align: left;
    background-color: red;
    padding: 3vw;
  }
}

///// export as product cards and customise featured instead, make product page default

.sitetitle {
  text-align: center;
}
