.product-container {
  text-align: center;
  margin: 0 auto;
}

.featuredtitle {
  background-color: red;
  width: 75%;
  margin: 0 auto;
}

.cards {
  @include containerflex;
  flex-wrap: wrap;
  width: 75%;
  column-gap: 5vh;
  row-gap: 5vh;
  //   flex-direction: column; ///breakpoint
}

.card {
  flex: 0 4 47%;
  width: 100%;
  margin: 0 auto;

  img {
    width: 100%;
    object-fit: cover;
  }

  .cardbody {
    text-align: left;
    background-color: red;
    padding: 3vw;
  }
}

.sitetitle {
  text-align: center;

  input {
    width: 47%;
    padding: 1vw;
    font-style: italic;

    @media (max-width: $tablet-width) {
      width: 70%;
      padding: 2vw;
    }

    @media (max-width: $mobile-width) {
      width: 70%;
      padding: 3vw;
    }
  }
}
